<section class="custom-horizontal-graph">
<header>
    <div class="title">
    <h2>Order Detail Summary</h2>
    <p>Cost average analysis</p>
    </div>
    <div class="tabs">
        <!--<button class="btn btn-secondary" *ngFor="let tab of tabs" [class.active]="tab.isActive" (click)="toggleTab(tab)">{{tab.name}}</button>
        <button class="btn btn-primary" (click)="toggleTab(tabs[0])">Reset</button> -->
    </div>
</header>
<article class="graph">
    @for(bar of bars; track bar.pkID){
        <div class="graph-bar-container">
            <p class="bar-name"><strong></strong></p>
            <div class="bar-bg">
                <span class="bar" [style.width.%]="bar.width" [style.background-color]="bar.bgColor"]><strong>{{bar.width}}%</strong></span>
            </div>  
            <p class="bar-value"><strong>{{bar.unitPrice}}</strong></p>  
        </div>            
    }
</article>
</section>
